{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block header %}не для тебя ягодку выращивал{% endblock %}

{% block main %}
    <div class="wrapper">
        <form method="POST" action="registration" class="menu__form">
            {{ regform.csrf_token }}
            {{ regform.login }}
            {{ regform.password }}
            {{ regform.name }}
            {{ regform.surname }}
            {{ regform.email }}
            <!-- <input type="submit" class="loginForm__wrapper__submit" value="Зарегистрироваться"> -->
            <button type="submit" class="loginForm__wrapper__submit">Зарегистрироваться</button>
            <button class="loginForm__wrapper__submit">Войти</button>
        </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}