* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #000000;
    color: #F5F5F5;
    height: 100%;
}

html {
    height: 100vh;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 70px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
}

.loginForm__wrapper__input {
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    border: none;
    display: block;
    outline: none;
    border-bottom: 1px solid #777;
    background: none;
}

.loginForm__wrapper__input:focus {
    border-color: #fff;
}

.loginForm__wrapper__input:focus::placeholder {
    color: #fff;
}

.button {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.button:hover {
    color: #aaa;
}

.buttons__wrapper {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

header {
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 10px;
}

.hdft__wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    max-width: 1106px;
    height: 100%;
    column-gap: 40px;
    row-gap: 15px;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0;
}

.menu__form {
    /* border: solid 2px white; */
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 250px;
    box-shadow: 0px 0px 10px #aaa;
}

.title {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
}

.lt {
    margin: 0;
    padding: 0;
    animation: kek 1s infinite linear;
    position: absolute;
    top: -4px;
}

.small-gear {
    height: 40px;
    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes kek {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.loginForm__wrapper__submit {
    color: #fff;
    margin-top: 20px;
    height: 30px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
}

.loginForm__wrapper__submit:hover {
    background: #fff;
    color: #000;
}

@media (max-width: 730px) {
    .header__text {
        display: none;
    }
}

@media (max-width: 490px) {
    .buttons__wrapper {
        margin: 0;
    }

    .hdft__wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
}