{% extends 'base.html' %}

{% block title %}VM DEVELOPER{% endblock %}

{% block header %}не для тебя ягодку выращивал{% endblock %}

{% block main %}
    <div class="wrapper">
        <form action="login" method="POST" class="menu__form">
            {{ logform.csrf_token }}
            {{ logform.login }}
            {{ logform.password }}
            <!-- <input type="submit" class="loginForm__wrapper__submit" value="Войти"> -->
            <button type="submit" class="loginForm__wrapper__submit">Войти</button>
            <!-- <button class="loginForm__wrapper__submit">Зарегистрироваться</button> -->
        </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}